
venv-3.9/
# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
uploads/

# Virtual environments
venv/

# Environments created by Pipenv
*.venv

# macOS metadata
.DS_Store

# Frontend artifacts
frontend/node_modules/
frontend/package-lock.json
